@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

/***** Global *****/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}

body {
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  border: 1px dashed;
  margin: 25px 0px;
}

/***** App.js *****/

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

/***** QuoteCard.js *****/

.quote-card {
  background: white;
  width: 500px;
  padding: 4em;
  border-radius: 4px;
  animation: fadeInAnimation ease-in 1s;
  animation-fill-mode: forwards;
}

.quote-content {
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.6;
  word-spacing: 2px;
  font-size: 16px;
}

.quote-author {
  font-size: 10px;
  text-align: center;
  letter-spacing: 1px;
  font-style: italic;
  margin-top: 25px;
}

.quote-symbol {
  font-size: 25px;
  text-align: center;
}

.flexbox-buttons {
  display: flex;
  flex-direction: row;
  width: auto;
  margin-top: 25px;
}

/***** Button.js *****/

.button {
  padding: 12px;
  box-shadow: 0px 5px rgba(0,0,0,0.8);
  border: 1px solid rgba(0,0,0,0.8);
  text-shadow: 0px 0px 0px transparent;
  border-radius: 4px;
}

.button a {
  text-decoration: none;
  color: black;
}

.button:hover {
  cursor: pointer;
}

.button:active {
  cursor: loading;
  transform: translateY(4px);
  box-shadow: 0px 0px transparent;
}

.flexbox-right {
  margin-left: auto;
}

.media {
  width: 40px;
  margin-right: 10px;
}

/***** Animations *****/

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

/**** Media *****/

@media (max-width: 650px) {
  .quote-card {
    width: 100vw;
    background: none;
  }
}
