@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

/***** Global *****/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}

body {
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  border: 1px dashed rgb(28, 28, 28);
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
}

/***** App.js *****/

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

/***** QuoteCard.js *****/

.quote-card {
  background: white;
  width: 650px;
  padding: 4em;
  border-radius: 4px;
  animation: fadeInAnimation ease-in 1s;
  animation-fill-mode: forwards;
}

.quote-content {
  text-align: left;
  letter-spacing: 1px;
  line-height: 1.5;
  font-size: 16px;
  margin-top: 25px;
}

.quote-author {
  font-size: 12px;
  text-align: right;;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 25px;
}

.quote-symbol {
  margin: 0px 10px;
}

.flexbox-buttons {
  display: flex;
  flex-direction: row;
  width: auto;
  margin-top: 25px;
}

/***** Button.js *****/

.button {
  padding: 12px;
  box-shadow: 0px 5px rgba(28,28,28,0.8);
  border: 1px solid rgba(28,28,28,0.8);
  text-shadow: 0px 0px 0px transparent;
  border-radius: 4px;
}

.button a {
  text-decoration: none;
}

.button:hover {
  cursor: pointer;
}

.button:active {
  cursor: loading;
  transform: translateY(6px);
  box-shadow: 0px 0px transparent;
}

.flexbox-right {
  margin-left: auto;
}

.media {
  width: 40px;
  margin-right: 10px;
}

/***** Animations *****/

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

/**** Media *****/

@media (max-width: 750px) {
  .quote-card {
    width: 100vw;
    padding: 4em;
    background: none;
  }
}
